/* подключение шрифтов */
@font-face {
  font-family: 'Gilroy';
  src:
    local('Gilroy-ExtraBold'),
    local('Gilroy - Extra Bold'),
    url("../fonts/gilroyextrabold.woff2") format('woff2'),
    url("../fonts/gilroyextrabold.woff") format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src:
    local('Gilroy-Light'),
    local('Gilroy - Light'),
    url("../fonts/gilroylight.woff2") format('woff2'),
    url("../fonts/gilroylight.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src:
    local('OpenSans-light'),
    local('Open Sans - light'),
    url("../fonts/opensanslight.woff2") format('woff2'),
    url("../fonts/opensanslight.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src:
    local('OpenSans'),
    local('Open Sans'),
    url("../fonts/opensans.woff2") format('woff2'),
    url("../fonts/opensans.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

/* сброс кнопок  */
.btn-reset {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
}

/* сброс списков */
.lst-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* сброс отступов */

.mp-reset {
  margin: 0;
  padding: 0;
}

/* общие правила */

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

.container {
  width: 1040px;
  margin: 0 auto;
}

.fl-container {
  display: flex;
}

.fld-column {
  flex-direction: column;
}

.flw-wrap {
  flex-wrap: wrap;
}

a {
  color: black;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  color: #000000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  background-image: linear-gradient(#f0c52e 0%, #f0c52e 100%);
  background-size: 1px 8px;
  background-repeat: repeat-x;
  background-position: 0 50%;
  transition: background 0.6s;
}

.btn:hover,
.btn:focus {
  background-size: 1px 100%;
}

.btn:active {
  background-size: 1px 100%;
  color: rgba(0, 0, 0, 0.3);
}

.inner-logo:hover,
.main-user-nav a:hover,
.main-site-list a:hover,
.footer-nav-item a:hover,
.footer-social-list a:hover,
.footer-social-item:last-child a:hover,
.pagination-number:hover,
.footer-social-copyright:hover  {
  opacity: 0.6;
}

.inner-logo:active,
.main-user-nav a:focus,
.main-site-list a:focus,
.footer-nav-item a:active,
.footer-social-list-copyright:active,
.main-user-out,
.footer-user-nav .main-user-out,
.footer-social-copyright:active {
  opacity: 0.3;
}

.pagination-numbers .pagination-current,
.sort-list .sort-list-active,
.pagination-number:active,
.sort-control .sort-arrow-active {
  opacity: 1;
}

/******************** HEADER ********************/
.main-header {
  background-color: rgb(248, 226, 151);

  position: relative;
  margin-top: 40px;
  padding: 34px 0 0 0;
}

.header-logo {
  display: block;

  position: absolute;
  top: -18.5px;
  left: 60px;
}

.site-search,
.main-user-nav {
  padding: 0;
  margin: 0;
  width: 50%;
}

.main-user-item {
  margin: 0 20px;
}

.main-user-item:first-child {
  margin-right: auto;
}

.main-user-item:last-child {
  margin-right: 0;
}

.main-user-out {
  margin-left: 15px;
}

.main-site-list {
  padding: 0;
  padding-bottom: 161px;
  position: relative;
  margin-top: 28px;
  margin-left: -1px;
  max-width: 1140px;
}

.inner-main-site-list {
  padding-bottom: 48px;
}

.main-site-item:first-child {
  flex-basis: 50%;
  cursor: pointer;
}

.main-submenu-toggle:after {
  content: url(../img/plus.svg);

  display: inline-block;
  vertical-align: middle;

  opacity: 0.3;
  margin-left: 12px;
  cursor: pointer;
}

.main-site-item:not(:first-child) {
  margin: 0 13px 0 21px;
}

.main-site-item:last-child {
  margin-right: -4px;
  margin-left: auto;
  text-align: right;
}

.site-search-input {
  border: none;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  background-color: rgb(248, 226, 151);
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 3px 50%;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 44px;
  height: 50px;

  color: #000000;

  padding-left: 40px;
  width: 356px;

  outline: none;
}

.site-search-input::-webkit-input-placeholder {
  opacity: 0.3;
}

.site-search-input::-ms-input-placeholder {
  opacity: 0.3;
}

.site-search-input::-moz-placeholder {
  opacity: 0.3;
}

.site-search-input:hover::-webkit-input-placeholder,
.site-search-input:focus::-webkit-input-placeholder {
  opacity: 0.6;
}

.site-search-input:hover::-ms-input-placeholder,
.site-search-input:focus::-ms-input-placeholder {
  opacity: 0.6;
}

.site-search-input:hover::-moz-placeholder,
.site-search-input:focus::-moz-placeholder {
  opacity: 0.6;
}

.site-search-input:focus {
  border-top: 2px solid transparent;
  border-bottom: 2px solid #000000;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  line-height: 44px;
}

.site-search-input:focus ~ .site-search-btn {
  position: static;
}

.site-search-btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0.2px;
  color: #000000;

  padding: 0 18.29px;

  margin-left: -4px;

  border: 2px solid black;
  background: none;

  outline: none;

  position: fixed;
  top: -9999px;

  cursor: default;

  /* не завершено */
}


.site-search-btn:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.site-search-btn:active {
  position: static;
  color: rgba(255, 255, 255, 0.3);
}

.main-navigation {
  align-items: center;
  justify-content: space-between;
}

.lst-reset {
  list-style-type: none;
}

.main-user-item a {
  color: #000000;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.main-user-item:first-child a:first-child:before {
  content: url(../img/user.svg);
  padding-right: 14px;
}

.main-user-item:nth-child(2) a:before {
  content: url(../img/compare.svg);
  padding-right: 10px;
}

.main-user-item:last-child a:before {
  content: url(../img/cart.svg);
  padding-right: 10px;
}

.main-site-item > a {
  color: #000000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.main-site-item:first-child:hover .main-submenu {
  display: flex;
}

.main-site-item:first-child:focus-within .main-submenu {
  display: flex;
}

.main-submenu {
  display: none;
  position: absolute;
  width: 1160px;
  left: -59px;
  min-height: 162px;
  flex-wrap: wrap;
  background-color: rgb(248, 226, 151);
  z-index: 2;
  padding: 19px 378px 35px 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main-submenu-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -ms-flex-preferred-size: 33%;

      flex-basis: 33%;
}

.main-submenu-item:nth-of-type(3) {
  margin-left: -36px;
}

.main-submenu-item:last-of-type {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.main-submenu a {
  color: #000000;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
}

/******************** /HEADER ********************/

/********************* SLIDER ********************/

.index-main {
  overflow: hidden;
  position: relative;
  margin-top: -111px;
  padding-bottom: 77px;
}

.slider {
  width: 300%;
  padding-bottom: 102px;
}

.slider-item {
  width: 33.3333%;
}

.slider-item div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.slider-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 65px 62px 0 19.5px;
  position: relative;

}

.slider-content h2 {
  font-family: 'Gilroy';
  font-size: 47px;
  font-weight: 800;
  line-height: 1.19;
  letter-spacing: 0.5px;
  padding: 0;
  margin: 15px 0 0 0;

  position: relative;
}

.slider-content h2:before {
  content: '';
  display: block;
  width: 100px;
  height: 7px;
  background-color: #fff;

  position: absolute;
  top: -43px;
  left: 2px;
}

.slider-content:after {
  content: '01';

  font-family: 'Gilroy';
  font-size: 179px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1.8px;
  text-align: right;
  color: #fff;

  position: absolute;
  top: -15px;
  right: 46px;
  z-index: -1;
}

.slider-item:nth-child(2) .slider-content {
  padding-right: 96px;
}

.slider-item:nth-child(2) .slider-content:after {
  content: '02';
}

.slider-item:not(:last-of-type) h2 {
  max-width: 400px;
}

.slider-item:last-child .slider-content {
  padding-right: 0;
}

.slider-item:last-child p {
  padding-right: 10px;
}

.slider-item:last-child img {
  margin-top: 10%;
}

.slider-item:last-child .slider-content:after {
  content: '03';
}

.slider-content p {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
  padding: 0;
  margin: 18px 0 0 0;
}

.slider-img {
  text-align: center;
}

.slider-img img {
  margin-right: 15px;
}

.slider-link {
  display: inline-block;
  vertical-align: middle;
  width: 220px;
  margin-top: 45px;
  margin-left: 2px;
  text-align: center;
  letter-spacing: 3.6px;
}

.slider-control-1:checked ~ .slider-container {
  transform: translateX(0);
}

.slider-control-1:checked ~ .slider-controls label:first-child {
  background-image: url(../img/slider-button.svg);
}

.slider-control-2:checked ~ .slider-container {
  transform: translateX(-33.3333%);
}

.slider-control-2:checked ~ .slider-controls label:nth-child(2) {
  background-image: url(../img/slider-button.svg);
}

.slider-control-3:checked ~ .slider-container {
  transform: translateX(-66.6666%);
}

.slider-control-3:checked ~ .slider-controls label:last-child {
  background-image: url(../img/slider-button.svg);
}

.slider-controls {
  position: absolute;
  z-index: 2;
  top: 323px;
  right: 66px;
}

.slider-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin-right: 17px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(../img/slider-button-empty.svg);
  cursor: pointer;
}

.slider-table {
  margin-top: 48px;
  margin-left: -3px;
}

.slider-table td {
  font-family: 'Gilroy';
  font-size: 36px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-align: left;
  padding-bottom: 4px;
}

.slider-table td:not(:last-child) {
  padding-right: 74px;
}

.slider-table-header td {
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: 0.1px;
  text-align: left;
}

/********************* /SLIDER ********************/

/********************* features ********************/

.features-list {
  justify-content: space-between;
}

.features-img {
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  margin-bottom: 34px;
}

.features-item:nth-child(2) svg {
  margin: auto 0 2px 3px;
}

.features-item:nth-child(3) svg {
  margin: 3px 0 0 9px;
}

.features-item:nth-child(4) svg {
  margin: 5px 0 0 3px;
}

.features-item:nth-child(5) svg {
  margin: 2px 0 0 6px;
}

.features-item:nth-child(6) svg {
  margin: 8px 1px 0 0;
}


.features-item .features-img:hover,
.features-item .features-img:active {
  background-color: #f0c52e;
}

.features-item:active .features-text,
.features-item:active svg {
  opacity: 0.3;
}

/*
.features-item:first-child a:first-of-type {
  background-image: url(../img/popular-1.svg);
}

.features-item:nth-child(2) a:first-of-type {
  background-image: url(../img/popular-2.svg);
  background-position: 50% 100%;
}

.features-item:nth-child(3) a:first-of-type {
  background-image: url(../img/popular-3.svg);
}

.features-item:nth-child(4) a:first-of-type {
  background-image: url(../img/popular-4.svg);
}

.features-item:nth-child(5) a:first-of-type {
  background-image: url(../img/popular-5.svg);
}

.features-item:last-child a:first-of-type {
  background-image: url(../img/popular-6.svg);
}
*/

.features-text {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.2px;

  display: inline-block;
  vertical-align: middle;
  max-width: 160px;
}

.features-text span {
  display: block;
}

/********************* /features ********************/

/********************* benefits *********************/

.benefits {
  background-image: linear-gradient(to bottom, #fff 26.5%, #e5e5e5 26.5%);
  padding: 7px 0 67px 0;
}

.benefits-control-1:checked ~ .benefits-list .benefits-item-1 {
  display: block;
}

.benefits-control-2:checked ~ .benefits-list .benefits-item-2 {
  display: block;
}

.benefits-control-3:checked ~ .benefits-list .benefits-item-3 {
  display: block;
}

.benefits-control-1:checked ~ .benefits-titles .benefits-title-1 {
  background-color: #000;
}

.benefits-control-1:checked ~ .benefits-titles .benefits-label-1 {
  background-image: none;
  color: #f0c52e;
}

.benefits-control-2:checked ~ .benefits-titles .benefits-title-2 {
  background-color: #000;
}

.benefits-control-2:checked ~ .benefits-titles .benefits-label-2 {
  background-image: none;
  color: #f0c52e;
}

.benefits-control-3:checked ~ .benefits-titles .benefits-title-3 {
  background-color: #000;
}

.benefits-control-3:checked ~ .benefits-titles .benefits-label-3 {
  background-image: none;
  color: #f0c52e;
}

.benefits-titles {
  border-right: 7px solid black;
  justify-content: center;
  padding: 78px 0 73px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.benefits-title {
  padding-right: 117px;
  margin: 0;
}

.benefits-title:active {
  background-color: black;
}

.benefits-title:active label {
  background-color: black;
  color: #f7e184;
  background-image: none;
}

.benefits-title:nth-child(2) {
  margin: 24px 0;
}

.benefits-title label {
  width: 160px;
  display: inline-block;
  vertical-align: middle;

  font-family: 'Gilroy';
  font-size: 18px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 3.6px;
  text-align: center;

  cursor: pointer;
}

.benefits-item {
  display: none;
  padding-top: 70px;
  padding-left: 117px;
  padding: 72px 323px 0 117px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  position: relative;
}

.benefits-item:nth-child(2) span {
  display: block;
}

.benefits-item:first-child:after {
  content: url(../img/delivery.svg);
  width: 136px;
  height: 164px;
  top: 83px;
  right: 66px;
}

.benefits-item:nth-child(2):after {
  content: url(../img/warranty.svg);
  width: 171px;
  height: 194px;
  top: 60px;
  right: 66px;
}

.benefits-item:last-child:after {
  content: url(../img/credit.svg);
  width: 156px;
  height: 186px;
  top: 60px;
  right: 66px;
}

.benefits-item:after {
  position: absolute;
}

.benefits-list h3 {
  font-family: Gilroy;
  font-size: 47.5px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.5px;

  padding: 0;
  margin: 0;
}

.benefits-list p {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;

  margin-top: 31px;
}

/********************* /benefits ********************/

/********************* partners *********************/

.partners {
  justify-content: space-between;
  padding: 95px 2px 92px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.partner-link img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.2;
}

.partner-link:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
}

/********************* /partners *********************/
.info,
.contacts {
  justify-content: space-between;
  box-sizing: border-box;
  padding-bottom: 82px;
}

.info {
  padding-right: 95px;
}

.info p:first-of-type {
  margin-bottom: 31px;
}

.contacts {
  padding-left: 27px;
}

.info h3,
.contacts h3 {
  color: #000000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.21px;

  position: relative;
}

.info h3:before,
.contacts h3:before {
  content: '';

  display: block;
  position: absolute;
  top: -51px;
  height: 7px;
  width: 80px;

  background-color: #000000;
}

.info p,
.contacts p {
  color: #464646;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;

  margin-top: -2px;
}

.contacts-btn,
.info-btn {
  display: block;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 3.6px;
}

.contacts-btn {
  margin-left: 1px;
}

.contacts-map {
  display: block;
  margin-top: 39px;
  margin-bottom: 66px;
}

.info .btn,
.contacts .btn {
  width: 260px;
  text-align: center;
}

.info-list {
  list-style-type: none;
  padding: 50px 0 38px 0;
}

.info-item {
  position: relative;
}

.info-item:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 2px solid #000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0.1;
  margin-right: 27px;
}

.info-item a {
  color: #000000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
}

/********************** form-modal **********************/

.form-modal {
  width: 960px;
  height: 590px;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 1);

  z-index: 2;

  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;

  margin: -295px 0 0 -480px;

  box-sizing: border-box;
}

.writeus-modal {
  background-color: #fff;
  padding: 98px 100px 92px 100px;
}

.form-modal-item {
  width: 360px;
  box-sizing: border-box;
}

.form-modal-item:nth-child(2) {
  margin-left: auto;
}

.form-modal-item:last-child {
  margin-top: 39px;
  margin-bottom: 55px;
  flex-basis: 100%;
}

.form-modal label {
  display: block;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 17.5px;
  font-weight: 800;
  line-height: 1.4;
  margin-bottom: 13px;
  color: #000000;
}

.form-modal input,
.form-modal textarea {
  border: 2px solid transparent;
  background: none;
  outline: none;
  background-color: rgb(242, 242, 242);
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.25;
  color: rgba(70, 70, 70, 0.4);
}

.form-modal input:hover,
.form-modal textarea:hover {
  background-color: rgba(219, 219, 219, 0.8);
}

.form-modal input:focus,
.form-modal textarea:focus {
  border: 2px solid #f0c52e;
  background-color: #fff;
}

.form-modal input {
  padding: 16px 20px 17px 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-modal textarea {
  width: 100%;
  max-width: 760px;
  min-height: 156px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px 0 0 20px;
}

.modal-close {
  height: 55px;
  width: 55px;

  border: none;
  background: none;
  cursor: pointer;
  outline: none;

  background-image: url(../img/modal-close.svg);
  background-repeat: no-repeat;

  position: absolute;
  top: 22px;
  right: 22px;

  opacity: 0.5;
  z-index: 3;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.form-modal-submit {
  width: 200px;
}

.form-modal-show {
  display: block;
  animation: bounce 0.6s;
}

.form-modal-error {
  animation: shake 0.6s;
}

/********************** /form-modal **********************/
/********************** map-popup **********************/
.map-popup {
  width: 960px;
  height: 559px;

  position: fixed;
  top: 50%;
  left: 50%;

  margin: -280px 0 0 -480px;
  z-index: 3;
}

.map-popup:before,
.form-modal:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: -1;
  animation: shadow 0.9s;
}

.map-popup-show {
  display: block;
  animation: bounce 0.6s;
}

.map-popup p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.map-popup iframe {
  position: relative;
  z-index: 2;

  border: none;
}


/********************** /map-popup **********************/
/********************** footer **********************/

.main-footer {
  background-color: #464646;
  padding: 65px 0 67px 0;
}

.main-footer nav {
  justify-content: space-between;
}

.footer-user-item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 19px;
}

.footer-user-item:last-child {
  margin-right: 0;
}

.footer-nav {
  justify-content: space-between;
  align-items: center;
  padding: 26px 0 63px 0;
}

.footer-logo {
  position: relative;
}

.footer-social {
  justify-content: space-between;
  align-items: center;
}

.footer-social:before {
  content: '';
  display: block;
  width: 80px;
  height: 7px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #ffc600;
}

.footer-nav-list {
  flex-basis: 100%;
  text-align: center;
  margin-top: 2px;
}

.footer-user-nav {
  margin-top: -5px;
}

.footer-user-item a {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
}

.footer-user-item:first-child a:first-child:before {
  content: url(../img/footer-user.svg);
  margin-right: 13px;
}

.footer-user-item:nth-child(2) a:before {
  content: url(../img/footer-compare.svg);
  margin-right: 10px;
}

.footer-user-item:last-child a:before {
  content: url(../img/footer-cart.svg);
  margin-right: 9px;
}

.footer-user-nav a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-user-nav a:hover:before {
  opacity: 0.6;
}

.footer-user-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-nav a:active:before {
  opacity: 0.3;
}

.footer-nav-item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 14px 0 16px;
}

.footer-nav-item a {
  color: #ffffff;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-nav-address,
.footer-nav-phone {
  color: #ffffff;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  flex-basis: 30%;
}

.footer-nav-phone {
  text-align: right;
}

.footer-social-item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 9px;
}

.footer-social-item a {
  display: block;

  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  background-position: center center;

  opacity: 0.3;
}

.footer-social-list {
  margin: 0 54px 0 0;
}

.footer-social-list a:active {
  opacity: 0.1;
}

.footer-social-item:first-child a {
  background-image: url(../img/fb.svg);
}

.footer-social-item:nth-child(2) a {
  background-image: url(../img/instagram.svg);
}

.footer-social-item:nth-child(3) a {
  background-image: url(../img/twitter.svg);
}

.footer-social-copyright {
  display: block;

  opacity: 1;

  width: 27px;
  height: 35px;

  background-image: url(../img/logo-html.svg);
  background-repeat: no-repeat;
}

/********************** /footer **********************/

/****************************/
/****** catalog.html ********/
/****************************/

h1 {
  color: #000000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.5px;
  padding: 36px 0 0 0;
}

.breadcrumb {
  list-style-type: none;
  padding: 25px 0 46px 0;
}

.breadcrumb li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 7px;
}

.breadcrumb-link:hover {
  opacity: 1;
}

.breadcrumb-link:active {
  opacity: 0.1;
}

.breadcrumb li:first-child {
  margin-left: 0;
}

.breadcrumb-active {
  cursor: default;
}

.breadcrumb-link {
  opacity: 0.3;
  color: #000000;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.breadcrumb li:not(:last-child):after {
  content: url("../img/nav-arrow.svg");
  margin-left: 14px;
  width: 4px;
  height: 7px;
}

.breadcrumb li:nth-child(2):after {
  margin-left: 18px;
}

.inner-main {
  position: relative;
}

.inner-main:before,
.inner-main:after {
  content: '';
  position: absolute;
  width: calc((100% - 1160px) / 2);
  height: 100%;
  z-index: -1;
}

.inner-main:before {
  left: 0;
  top: 0;
  background-image: linear-gradient(to bottom, #dbdbdb 70px, #eee 70px);
}

.inner-main:after {
  right: 0;
  top: 0;
  background-image: linear-gradient(to bottom, #dbdbdb 70px, #fff 70px);
}


/* filter */

.filter {
  padding: 7px 70px 0 60px;
  position: relative;
  background-image: linear-gradient(to bottom, #dbdbdb 70px, #eee 70px);
}

.filter h3,
.sort h3 {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.filter h3 {
  padding-bottom: 76px;
}

.sort {
  align-items: center;
  padding: 7px 0 15px 0;
}

.sort-control {
  margin-left: auto;
  padding: 0 0 0 10px;
}

.sort-arrow {
  display: inline-block;
  font-size: 0;
  text-align: right;
  opacity: 0.2;
}

.sort-arrow:hover {
  opacity: 0.4;
}

.sort-arrow:active {
  opacity: 1;
}

.sort-arrow:first-child {
  margin-right: 17px;
}

.sort-arrow::before {
  display: inline-block;
  border: 10px solid black;
  border-right-width: 5px;
  border-right-color: transparent;
  border-left-width: 5px;
  border-left-color: transparent;
  content: '';
}

.sort-arrow-up::before {
  border-top-width: 0;
}

.sort-arrow-down::before {
  border-bottom-width: 0;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
  width: 200px;
}

.filter legend {
  border-top: 2px solid #000000;
  width: 100%;

  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  padding: 11px 0 30px 0;
}

.filter label {
  cursor: pointer;
}

.color span,
.bluetooth span {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  /*line-height: 2.86;*/
  letter-spacing: 0.1px;
  color: #000000;

  position: relative;
}

.color span:before {
  content: url(../img/checkbox-off.svg);

  display: inline-block;
  vertical-align: middle;

  padding-right: 15px;
}



.color input:checked ~ span:before {
  content: url(../img/checkbox-on.svg);
  padding-right: 11px;
}

.bluetooth label {
  margin-left: -2px;
}

.bluetooth label:first-of-type {
  margin-top: -6px;
  margin-bottom: 13px;
}

.bluetooth span:before {
  content: url(../img/radio-off.svg);

  display: inline-block;
  vertical-align: middle;
  padding-right: 15px;
}

.bluetooth input:checked ~ span:before {
  content: url(../img/radio-on.svg);
}

.color label {
  margin-left: -2px;
}

.color label:first-of-type {
  margin-top: -4px;
}

.color label:not(:last-child) {
  margin-bottom: 14px;
}

.color label:last-child {
  margin-bottom: 37px;
}

.color label:hover,
.bluetooth label:hover {
  opacity: 0.6;
}

.color label:active,
.bluetooth label:active {
  opacity: 1;
}

.filter .price {
  padding: 0 0 10px 0;
}

.price legend {
  padding: 11px 0 39px 0;
}

.price-value {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;

  margin: -4px 0 57px 0;

  background-color: #dbdbdb;
}

.price-value:before,
.price-value:after {
  content: url(../img/filter-button.svg);
  position: absolute;
  top: -10px;
  left: -6px;
  z-index: 2;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.price-value:after {
  left: 53%;
}

.price-value span {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 45px;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}

.price-min:after {
  content: '';
  display: block;
  width: 53%;
  background-color: #91c92f;
  height: 2px;

  position: absolute;
  top: 0;
  left: 0;
}

.price-max {
  margin-left: 30%;
}

.filter-btn {
  width: 100%;
  margin-top: 35px;
  letter-spacing: 3.6px;
}

/* /filter */

.item-list {
  list-style-type: none;
  padding: 61px 0 0 0;
  min-width: 760px;
  margin: 0;
  background-color: #fff;
  justify-content: space-between;
}

.item-card {
  margin-bottom: 32px;
  position: relative;
}

.item-card-new:after {
  content: 'NEW';

  position: absolute;
  top: 28px;
  right: 27px;
  width: 60px;
  height: 61px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  border: 1px solid #464646;
  border-radius: 50%;

  opacity: 0.2;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 61px;
  letter-spacing: 0.7px;
  text-align: center;
  color: #464646;
}

.item-list-container {
  width: 100%;
  padding: 0 0 0 71px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, #dbdbdb 70px, #fff 70px);
  margin-left: -1px;
}

.sort-list {
  margin-left: 39px;
}

.sort-list-item {
  display: inline-block;
  vertical-align: middle;
  opacity: 0.3;
  margin: 0 7px;
}

.sort-list-item:hover {
  opacity: 0.6;
}

.sort-list-item:active {
  opacity: 1;
}

.sort-list-btn {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  letter-spacing: normal;
  padding: 0 6px;
}

.item-list dl {
  width: 360px;
  margin-top: 29px;
}

.item-list dt {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2px;
  line-height: 1.33;
  color: #000000;

  padding: 0;
  margin: 0;

  flex-basis: 72%;
}

.item-list dd {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #464646;

  padding: 0;
  margin: 0;

  text-align: right;
  flex-basis: 28%;
}

.item-card:nth-child(2) dt {
  padding-right: 30px;
}

.item-container {
  position: relative;
}

.cart-add {
  display: none;

  position: absolute;
  top: 0;
  left: 0;

  width: 360px;
  height: 380px;

  background-color: rgba(238, 238, 238, 0.7);
  text-align: center;
}

.item-container:hover .cart-add {
  display: block;
}

.item-container:focus-within .cart-add  {
  display: block;
}

.cart-add-btn {
  display: inline-block;
  vertical-align: middle;
  margin-top: 50%;
  padding: 0 35px;
}

.btn-compare {
  display: block;
  margin: 33px auto 0 auto;
  opacity: 0.5;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.5);
}

.btn-compare:hover,
.btn-compare:focus {
  opacity: 1;
  color: rgba(0, 0, 0, 1);
}

.btn-compare:active {
  color: rgba(0, 0, 0, 0.2);
  opacity: 0.2;
}

/*********** pagination *******************/

.pagination-list {
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: rgba(70, 70, 70, 0.08);
  margin: -13px 0 77px 0;
}

.pagination-item a {
  text-transform: uppercase;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 70px;
  letter-spacing: 3.2px;
}

.pagination-control {
  padding: 0 28px 0 29px;
}

.pagination-control:hover,
.pagination-control:active {
  background-color: rgba(70, 70, 70, 0.08)
}

.pagination-control:active {
  opacity: 0.3;
}

.pagination-numbers {
  text-align: center;
  margin-left: 11px;
}

.pagination-numbers li {
  margin: 0 13.5px;
}

.pagination-current {
  cursor: default;
}

.pagination-numbers a {
  opacity: 0.3;
}

/*********** /pagination ******************/

/******************* modal-animation ********************/
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes shadow {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }

  25% {
    background-color: rgba(0, 0, 0, 0.1);
  }

  50% {
    background-color: rgba(0, 0, 0, 0.3);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.75);
  }
}
/******************* /modal-animation *******************/

