@font-face {
  font-family: 'Gilroy';
  src:
    local('Gilroy-ExtraBold'),
    local('Gilroy - Extra Bold'),
    url("../fonts/web/gilroyextrabold.woff2") format('woff2'),
    url("../fonts/web/gilroyextrabold.woff") format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src:
    local('Gilroy-Light'),
    local('Gilroy - Light'),
    url("../fonts/web/gilroylight.woff2") format('woff2'),
    url("../fonts/web/gilroylight.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src:
    local('OpenSans-light'),
    local('Open Sans - light'),
    url("../fonts/web/opensanslight.woff2") format('woff2'),
    url("../fonts/web/opensanslight.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src:
    local('OpenSans'),
    local('Open Sans'),
    url("../fonts/web/opensans.woff2") format('woff2'),
    url("../fonts/web/opensans.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

.container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* сброс кнопок  */
.btn-reset {
  border: none;
  background: none;

  cursor: pointer;

  outline: none;
}

.lst-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}


.main-header {
  background-color: rgba(240, 197, 46, 0.5);

  position: relative;

  flex-basis: 100%;

  max-width: 1039px;
  margin: 40px auto 0 auto;
  padding: 34px 61px 0 61px;
}

.inner-logo:hover,
.main-user-nav a:hover,
.main-site-list a:hover,
.footer-nav-item a:hover,
.footer-social-list a:hover,
.footer-social-item:last-child a:hover  {
  opacity: 0.6;
}

.inner-logo:active,
.main-user-nav a:focus,
.main-site-list a:focus,
.footer-user-nav a:active,
.footer-nav-item a:active,
.footer-social-list-copyright:active {
  opacity: 0.3;
}

.header-logo {
  display: block;

  position: absolute;
  top: -18.5px;
  left: 60px;
}

.site-search,
.main-user-nav {
  padding: 0;
  flex-basis: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main-user-nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
}

.main-user-item:first-child {
  margin-right: auto;
}

.main-site-list {
  flex-grow: 1;
  flex-basis: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 0;
  padding-bottom: 163px;
  position: relative;
  margin-top: 28px;
  margin-left: -1px;
}

.main-site-item:first-child {
  flex-basis: 50%;
  cursor: pointer;
}

.main-submenu-toggle:after {
  content: url(../img/plus.svg);

  display: inline-block;
  vertical-align: middle;

  opacity: 0.3;
  margin-left: 12px;
  cursor: pointer;
}

.main-site-item:nth-child(2) {
  margin-left: 21px;
}

.main-site-item:nth-child(3) {
  margin-left: 34px;
}

.main-site-item:last-child {
  margin-left: auto;
  margin-right: -4px;
}

.site-search-input {
  border: none;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  background-color: inherit;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 3px 50%;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 44px;

  color: #000000;

  padding-left: 40px;
  width: 356px;

  outline: none;
}

.site-search-input::-webkit-input-placeholder {
  opacity: 0.3;
}

.site-search-input::-ms-input-placeholder {
  opacity: 0.3;
}

.site-search-input::-moz-placeholder {
  opacity: 0.3;
}

.site-search-input:hover::-webkit-input-placeholder,
.site-search-input:focus::-webkit-input-placeholder {
  opacity: 0.6;
}

.site-search-input:hover::-ms-input-placeholder,
.site-search-input:focus::-ms-input-placeholder {
  opacity: 0.6;
}

.site-search-input:hover::-moz-placeholder,
.site-search-input:focus::-moz-placeholder {
  opacity: 0.6;
}

.site-search-input:focus {
  border-top: 2px solid transparent;
  border-bottom: 2px solid #000000;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  line-height: 44px;
}

.site-search-input:focus ~ .site-search-btn,
.site-search-input:hover ~ .site-search-btn {
  position: static;
}

.site-search-btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0.2px;
  color: #000000;

  padding: 0 18.29px;

  margin-left: -4px;

  border: 2px solid black;
  background: none;

  outline: none;

  position: fixed;
  top: -9999px;

  cursor: default;

  /* не завершено */
}

/*.site-search-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 197, 46, 0.5);
}*/

.site-search-btn:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.site-search-btn:active {
  position: static;
  color: rgba(255, 255, 255, 0.3);
}

.main-navigation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
}

.lst-reset {
  list-style-type: none;
}

.main-user-item a {
  color: #000000;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.main-user-item:nth-child(2) {
  margin-right: 41px;
}

.main-user-item:first-child {
  margin-left: 20px;
}

.main-user-item:first-child a:first-child:before {
  content: url(../img/user.svg);
  padding-right: 14px;
}

.main-user-item:nth-child(2) a:before {
  content: url(../img/compare.svg);
  padding-right: 10px;
}

.main-user-item:last-child a:before {
  content: url(../img/cart.svg);
  padding-right: 10px;
}

.main-site-item > a {
  color: #000000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.main-site-item:first-child:hover .main-submenu-container {
  display: block;
}

.main-submenu-container {
  display: none;
  position: absolute;
}

.main-submenu {
  padding: 0;
  margin-top: 19px;
  margin-left: 1px;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-submenu-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  flex-basis: 33%;
}

.main-submenu-item:nth-of-type(3) {
  margin-left: -36px;
}

.main-submenu-item:last-of-type {
  flex-basis: 100%;
}


.main-submenu a {
  color: #000000;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
}

.info,
.contacts {
  flex-basis: 50%;
  flex-grow: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
}


.info h3,
.contacts h3 {
  color: #000000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.21px;

  position: relative;
}

.info h3:before,
.contacts h3:before {
  content: ' ';

  display: block;

  position: absolute;
  top: -51px;

  height: 7px;
  width: 80px;

  background-color: #000000;
}

.info p,
.contacts p {
  color: #464646;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
}

.contacts-map {
  margin-top: 44px;
  margin-bottom: 83px;
}

.info .btn,
.contacts .btn {
  width: 260px;
  text-align: center;
}

.info-list {
  list-style-type: circle;
  color: #e5e5e5;
  margin-bottom: 83px;
}

.info-item a {
  color: #000000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
}

.form-modal ul {
  list-style-type: none;
}

.form-modal input,
.form-modal textarea,
.writeus-modal-close {
  border: none;
  background: none;
  outline: none;
 }

.form-modal label {
  display: block;

  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 17.5px;
  font-weight: 800;
  line-height: 1.4;

  color: #000000;
}

.form-modal input,
.form-modal textarea {
  background-color: rgb(242, 242, 242);

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.25;

  color: rgba(70, 70, 70, 0.4);

}

.writeus-modal-close {
  height: 55px;
  width: 55px;

  border: none;
  background: none;

  cursor: pointer;

  outline: none;

  background-image: url(../img/modal-close.svg);
  background-repeat: no-repeat;
}

/* ----------------------------------------------------  */

.btn {
  color: #000000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.15px;

  background-image: linear-gradient(#f0c52e 0%, #f0c52e 100%);
  -webkit-background-size: 1px 8px;
  background-size: 1px 8px;
  background-repeat: repeat-x;
  background-position: 0 50%;
}

.btn:hover {
  -webkit-background-size: 1px 100%;
  background-size: 1px 100%;
}

.btn:active {
  -webkit-background-size: 1px 100%;
  background-size: 1px 100%;
  color: rgba(0, 0, 0, 0.3);
}

.main-footer {
  background-color: #464646;
  flex-basis: 100%;
}

.main-footer nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-user-nav,
.footer-nav-list,
.footer-social {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}


.footer-nav-list {
  flex-basis: 100%;
}

.footer-user-item a {
  opacity: 0.7;
  color: #ffffff;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
}

.footer-user-item:first-child a:first-child:before {
  content: url(../img/footer-user.svg);
}

.footer-user-item:nth-child(2) a:before {
  content: url(../img/footer-compare.svg);
}

.footer-user-item:last-child a:before {
  content: url(../img/footer-cart.svg);
}

.footer-user-nav a:hover {
  opacity: 1;
}

.footer-nav-item a {
  color: #ffffff;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-nav-address,
.footer-nav-phone {
  color: #ffffff;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.footer-social-list {
  align-self: center;
}

.footer-social-item {
  display: inline-block;
  text-align: center;
  align-self: center;
}

.footer-social-item a {
  display: block;

  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  background-position: center center;

  opacity: 0.3;
}

.footer-social-list a:active {
  opacity: 0.1;
}

.footer-social-item:first-child a {
  background-image: url(../img/fb.svg);
}

.footer-social-item:nth-child(2) a {
  background-image: url(../img/instagram.svg);
}

.footer-social-item:nth-child(3) a {
  background-image: url(../img/twitter.svg);
}

.footer-social-copyright {
  display: block;

  opacity: 1;

  width: 27px;
  height: 35px;

  background-image: url(../img/logo-html.svg);
  background-repeat: no-repeat;
}

/****************************/
/****** catalog.html ********/
/****************************/

.inner-main {
  flex-basis: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.inner-main h1 {
  color: #000000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.17px;
}

.breadcrumb {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

.breadcrumb li {
  display: inline-block;
  padding-right: 10px;
}

.breadcrumb a {
  opacity: 0.3;
  color: #000000;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.14px;

}

.breadcrumb li:not(:last-child):after {
  content: url("../img/nav-arrow.svg");
  padding-left: 10px;
  width: 4px;
  height: 7px;
}

.filter {
  flex-basis: 201px;
}

.filter fieldset {
  border: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.filter legend {
  border-top: 2px solid #000000;
  width: 100%;

  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
}

.filter input {
  display: none;
}

.color span,
.bluetooth span {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  /*line-height: 2.86;*/
  letter-spacing: 0.1px;
  color: #000000;

  position: relative;
}

.color span:before {
  content: url(../img/checkbox-off.svg);

  /*position: absolute;

  left: -40px;*/
  display: inline-block;
  vertical-align: middle;

}

.color input:checked ~ span:before {
  content: url(../img/checkbox-on.svg);
}

.bluetooth span:before {
  content: url(../img/radio-off.svg);

  display: inline-block;
  vertical-align: middle;
}

.bluetooth input:checked ~ span:before {
  content: url(../img/radio-on.svg);
}

.item-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 80%;
  justify-content: center;
}

.item-list dt {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2px;
  line-height: 1.33;
  color: #000000;
}

.item-list dd {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #464646;
}

.color label:hover,
.bluetooth label:hover {
  opacity: 0.6;
}

.color label:active,
.bluetooth label:active {
  opacity: 1;
}

.item-container {
  position: relative;
}

.item-container form {
  display: none;

  position: absolute;
  top: 0;
  left: 0;

  width: 360px;
  height: 380px;

  background-color: rgba(238, 238, 238, 0.7);
  text-align: center;
}

.item-container:hover form {
  display: block;
}

.cart-add-btn {
  margin-top: 50%;
  padding: 0 35px;
}

.btn-compare {
  display: block;
  margin: 33px auto 0 auto;
  opacity: 0.5;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.5);
}

.btn-compare:hover {
  opacity: 1;
  color: rgba(0, 0, 0, 1);
}

.btn-compare:active {
  color: rgba(0, 0, 0, 0.2);
  opacity: 0.2;
}
